@import "styles.css";

.card {
	border-radius: var(--spacing);
	display: flex;
	flex-direction: column;
	padding: var(--spacing) 0;
}

.card:hover {
	box-shadow: 0px var(--spacing-xs) var(--spacing-xs) var(--color-neutral-200), calc(var(--spacing-xs) * -1) var(--spacing-xs) var(--spacing-xs) var(--color-neutral-200), var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--color-neutral-200);
	padding: var(--spacing);
}

.card *:not(:last-child) {
  margin-bottom: var(--spacing);
}

.card__header {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-thin);
  letter-spacing: 1.1;
  line-height: 1.05;
}

.card__image {
  border-radius: var(--spacing);
  width: 100%;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__info * {
  font-size: var(--font-size-s);
}
@media only screen and (max-width: 650px) {
	.card__info {
		justify-content: flex-start;
	}

	.card__info *:not(:last-child) {
		margin-right: var(--spacing);
	}
}