@import "styles.css";

.card {
  display: flex;
  flex-direction: column;
}

.card *:not(:last-child) {
  margin-bottom: var(--spacing);
}

.card__header {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-thin);
  letter-spacing: 1.1;
  line-height: 1.05;
}

.card__image {
  border-radius: var(--spacing);
  width: 100%;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__info * {
  font-size: var(--font-size-s);
}
