[class*="form"] {
  display: grid;
  column-gap: calc(var(--spacing) * 2);
  /**
  * This will try to fit the columns dynamically (restricting their size to the
  * specified minimum if the screen size does not permit larger sizing).
  */
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 100%;
}

[class*="form"] button {
  align-self: flex-end;
}

[class*="form-field"] {
  border: 0;
  display: flex;
  flex-direction: column;
}

[class*="form-field"] label {
  color: var(--color-neutral-900);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

[class*="form-field"] input {
  border: 0;
  border-bottom: 1px solid var(--color-neutral-900);
  padding: calc(var(--spacing) * 0.5) 0;
}

@media only screen and (max-width: 650px) {
  [class*="form"] {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  [class*="form"]:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  [class*="form"] button {
    text-align: left;
  }
}
