@import "styles.css";

/* Header Styles */
.header {
  --align-items: flex-start;
  --background-url: url("/images/hero.jpg");
  --flex-direction: row;
  --section-layout: grid;
  --section-margin-top: var(--spacing);
  --section-max-width: 100%;

  background: var(--background-url);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  grid-template-rows: 44px 1fr;
  grid-template-columns: var(--grid-repeat-2);

  height: var(--header-height);
}

.header__blurb {
  display: none;
  align-items: center;
  height: 100%;

  grid-column-start: 1;
  grid-column-end: 2;

  justify-content: flex-end;
}

.header__blurb span {
  font-size: var(--font-size-xxl);
}

.header--blog {
  --background-url: url("/images/blog.jpg");
}

.header--blogpost {
  --background-url: url("/images/article.jpg");
}

.header--blog > .header__blurb,
.header--blogpost > .header__blurb {
  display: flex;
}

.site__heading {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-between;
  width: 100%;
}

.site__heading *, .site__heading--left * {
	align-self: center;
}

.site__heading--left {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 128px;
}

.site__heading--left button {
	visibility: hidden;
}

.header--blogpost .site__heading--left button {
	visibility: visible;
}

.crumb__link {
  color: var(--color-neutral-900);
  text-decoration: none;
}

.crumb__link--emphasis,
.crumb__link--selected {
  font-weight: bold;
}

.crumb:not(:last-child) {
  margin-right: var(--spacing);
}

@media only screen and (max-width: 650px) {
  .footer .logo--wide {
    order: 2;
  }

  .header__blurb {
    grid-column-end: 3;
  }

  .header--blogpost .site__heading--left button {
	visibility: hidden;
  }
}
