@import "styles.css";

.menu {
  justify-content: space-between;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__list-column {
  flex-direction: column;
}

.menu__list-column > *:not(:last-child) {
  margin-bottom: var(--spacing);
}

.menu__list-title {
  font-weight: normal;
}

@media only screen and (max-width: 650px) {
  .menu--sticky {
    background-color: var(--color-neutral-900);
    bottom: 0;
    border-radius: var(--spacing);
    left: 0;
    margin: var(--spacing-xs);
    padding: var(--spacing);
    position: fixed;
    width: calc(100% - calc(var(--spacing-xs) * 2));
  }

  .menu--sticky .menu__list {
    display: grid;
    grid-template-columns: var(--grid-repeat-2);
  }

  .menu--sticky .crumb {
    text-align: center;
  }

  .menu--sticky .crumb__link {
    color: var(--color-neutral-100);
  }

  .footer .menu__list {
    display: grid;
    grid-template-columns: var(--grid-repeat-5);
  }
}
