@import url("font-awesome/css/fontawesome-all.min.css"); /* FA CSS import */

:root {
	--font-size-standard: 1rem;
	--font-size-heading: 1.75rem;
	--font-size-large: 1.125rem;
	--font-size-small: 0.8rem;

	--font-weight-thin: 100;
	--font-weight-bold: 900;

	--spacing: 16px;
	--spacing-xs: calc(var(--spacing) * 0.5);
	--spacing-l: calc(var(--spacing) * 2);
	--spacing-xl: calc(var(--spacing) * 2.5);
	--spacing-xxl: calc(var(--spacing) * 3);

	--height: 44px;
	--header-height: 450px;
	--max-width: 800px;

	--color-neutral-100: #fff;
	--color-neutral-200: #eef1f6;
	--color-neutral-300: #a9afbc;
	--color-neutral-400: #737b8c;
	--color-neutral-500: #434956;
	--color-neutral-900: #020203;

	--color-primary-300: #f3f7ff;
	--color-primary-400: #8ea8da;
}

*,
*::before,
*::after {
	box-sizing: border-box;

	font-family: "IBM Plex Serif", serif;
	font-size: var(--font-size-standard);

	margin: 0;
	padding: 0;
}

/* New Simplified Version 6 CSS */
/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
	/* removed font- based rules */
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

button {
	background-color: transparent;
	border: none;

	color: var(--color-neutral-900);
	display: inline-block;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);

	height: var(--height);
	line-height: var(--height);

	position: relative;
	text-align: center;
}

button::after {
	content: "\f054";
	font-family: "FontAwesome";
	font-weight: 100;

	padding-left: var(--spacing-xs);
	position: absolute;
}

.section {
	background-color: var(--color-section-bg);
	border-radius: var(--spacing);

	display: var(--section-layout, flex);
	flex-direction: var(--flex-direction, column);
	align-items: var(--align-items, center);

	margin: var(--section-margin-top, 0) var(--spacing)
		var(--section-margin-bottom, 0) var(--spacing);
	padding: var(--spacing-l);
}

.section * {
  	max-width: var(--section-max-width, var(--max-width));
}

.section > *:not(:last-child) {
  	margin-bottom: var(--section-bottom-spacing, var(--spacing-l));
}

.section--bordered {
	border-radius: 0;
	border-top: 1px solid var(--color-neutral-200);
}

.section__heading {
  	--section-bottom-spacing: var(--spacing-xxl);

 	width: 100%;
}

.section__heading * {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-thin);
	letter-spacing: 1.05;
}

.section__heading-title {
  	color: var(--color-neutral-400);
}

.section__heading-subtitle {
  	color: var(--color-neutral-900);
}

@media only screen and (max-width: 650px) {
	:root {
		--font-size-heading: 1.5rem;
		--font-size-large: 1.1rem;
		--font-size-small: 0.9rem;

		--header-height: 650px;
		--spacing: 12px;
	}

	.section {
		padding: var(--spacing-l) var(--spacing);
		margin: var(--spacing);
	}
}
