:root {
  --standard-font: 1rem;
  --primary-font: 4.25rem;
  --secondary-font: 2.125rem;

  --spacing: 16px;
  --max-width: 800px;

  --color-neutral-100: #fff;
  --color-neutral-200: #eef1f6;
  --color-neutral-300: #a9afbc;
  --color-neutral-400: #737b8c;
  --color-neutral-500: #434956;
  --color-neutral-900: #020203;

  --color-primary-300: #f3f7ff;
  --color-primary-400: #8ea8da;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  
  font-family: 'IBM Plex Serif', serif;
  font-size: var(--standard-font);

  margin: 0;
  padding: 0;
}

.section {
	background-color: var(--color-section-bg);
	border-radius: var(--spacing);
	padding: calc(var(--spacing) * 1.5);
	margin: var(--spacing);
}